<% const title = 'Reset Your Password' %>
<% const content = `
  <h1>Hi, ${userName}!</h1>
  <p>We received a request to reset your password for your ${companyName} account.</p>
  <p>Use the following One-Time Password (OTP) to reset your password:</p>
  <div class="otp-box">${otp}</div>
  <p>This OTP is valid for 5 minutes. Keep it secure.</p>
  <p>If you didn't request this, please contact us at <a href="mailto:${supportEmail}" style="color: #00C6AE;">${supportEmail}</a>.</p>
` %>
<%- include('base', { title, content, logoUrl, companyName, companyWebsite, privacyPolicyUrl, contactUrl }) %>