<% const title = 'Your Password Has Been Changed' %>
<% const content = `
  <h1>Hello, ${userName}!</h1>
  <p>Your ${companyName} account password was successfully changed on ${changeDate}.</p>
  <p>If you did not make this change, please secure your account immediately by reaching out to us.</p>
  <p>Contact our support team at <a href="mailto:${supportEmail}" style="color: #00C6AE;">${supportEmail}</a> if you need assistance.</p>
` %>
<%- include('base', { title, content, logoUrl, companyName, companyWebsite, privacyPolicyUrl, contactUrl }) %>